# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [19]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [20]:
import zipfile

zf = zipfile.ZipFile('Data.zip')


info, grades = list(), list()
with zipfile.ZipFile('Data.zip') as archive:
    for filename in archive.namelist():
        if filename.endswith('.csv'):
            if 'info' in filename:  
                df = pd.read_csv(zf.open(filename), index_col=False)
                info.append(df)
            elif 'marks' in filename:
                df = pd.read_csv(zf.open(filename), index_col=False)
                grades.append(df)

info = pd.concat(info, axis=0)
grades = pd.concat(grades, axis=0).drop('index', axis=1)
df = pd.concat([info, grades], axis=1)
print('Три строки:')
print(df.iloc[214])
print()
print(df.iloc[0])
print()
print(df.iloc[999])
print()

df
# Сразу удаляю индекс оценок, чтобы не мешался.

Три строки:
index                                  214
gender                                male
race/ethnicity                     group E
parental level of education    high school
lunch                             standard
test preparation course          completed
group                               group3
math score                              87
reading score                           91
writing score                           81
Name: 14, dtype: object

index                                          0
gender                                    female
race/ethnicity                           group B
parental level of education    bachelor's degree
lunch                                   standard
test preparation course                     none
group                                     group1
math score                                    72
reading score                                 72
writing score                                 74
Name: 0, dtype: object

index                                   999
gender                               female
race/ethnicity                      group D
parental level of education    some college
lunch                          free/reduced
test preparation course                none
group                               group10
math score                               77
reading score                            86
writing score                            86
Name: 99, dtype: object

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [21]:
df.drop('index', axis=1, inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [22]:
print(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [23]:
print('Min:')
print(df.min(numeric_only=True))
print('Max:')
print(df.max(numeric_only=True))
print('Avg:')
print(df.mean(numeric_only=True))
print('Std:')
print(df.std(numeric_only=True))
print('Больше информации:')
df.describe()

Min:
math score        0
reading score    17
writing score    10
dtype: int64
Max:
math score       100
reading score    100
writing score    100
dtype: int64
Avg:
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64
Std:
math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64
Больше информации:

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [24]:
print(not all(df.isnull().sum() == 0))
# Значит, пропусков нет. Или:
print(df.isnull().values.any())

False
False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [25]:
print(df.mean(numeric_only=True))

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [26]:
print(df[df['test preparation course'] == 'completed'].mean(numeric_only=True))
print(df[df['test preparation course'] == 'none'].mean(numeric_only=True))
# Если проходил курс, то оценки в среднем выше.

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64
math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [27]:
print(df.lunch.unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [28]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace=True)
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95
96,male,group C,high school,free/reduced,none,group10,62,55,55
97,female,group C,high school,free/reduced,completed,group10,59,71,65
98,female,group D,some college,standard,completed,group10,68,78,77
99,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [29]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [30]:
# Какая доля студентов сдала экзамен по математике (passmark >= 50)?
print(len(df[df['math score'] >= passmark]) / len(df), 'доля сдавших математику')
# Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
prepared = df[df['test preparation'] == 'completed']
print(len(prepared[prepared['math score'] >= passmark]) / len(prepared), 'доля подготовленных, сдавших математику')
# Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
not_prepared_women = df[(df['test preparation'] != 'completed') & (df['gender'] == 'female')]
print(len(not_prepared_women[not_prepared_women['math score'] < passmark]) / len(not_prepared_women), 'доля неподготовленных женщин, не сдавших математику')

0.865 доля сдавших математику
0.9217877094972067 доля подготовленных, сдавших математику
0.20958083832335328 доля неподготовленных женщин, не сдавших математику

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [31]:
%%time
avg = df.groupby('race/ethnicity')['reading score'].mean()
print('Avg:', avg)
minn = df.groupby('education')['writing score'].min()
print('Min:', minn)

Avg: race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Min: education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: total: 15.6 ms
Wall time: 2.99 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [32]:
%%time
count = dict()
summ = dict()
minn = dict()
for i, row in df.iterrows():
    summ[row['race/ethnicity']] = summ.get(row['race/ethnicity'], 0) + row['reading score']
    count[row['race/ethnicity']] = count.get(row['race/ethnicity'], 0) + 1
print('Avg:')
for key, val in sorted(summ.items()):
    print(key, val / count[key])
    
for i, row in df.iterrows():
    if row['writing score'] < minn.get(row['education'], 101):
        minn[row['education']] = row['writing score']
print('Min:') 
for key, val in sorted(minn.items()):
    print(key, val)

Avg:
group A 64.67415730337079
group B 67.35263157894737
group C 69.10344827586206
group D 70.03053435114504
group E 73.02857142857142
Min:
associate's degree 35
bachelor's degree 38
high school 15
master's degree 46
some college 19
some high school 10
CPU times: total: 78.1 ms
Wall time: 78.8 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [33]:
grouped = pd.pivot_table(data=df,index=['gender', 'education'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [34]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'P')
print('Математику сдало', df.value_counts(['Math_PassStatus'])[0], ' не сдало ', df.value_counts(['Math_PassStatus'])[1])
print('Чтение сдало', df.value_counts(['Reading_PassStatus'])[0], ' не сдало ', df.value_counts(['Reading_PassStatus'])[1])
print('Письмо сдало', df.value_counts(['Writing_PassStatus'])[0], ' не сдало ', df.value_counts(['Writing_PassStatus'])[1])
df

Математику сдало 865  не сдало  135
Чтение сдало 910  не сдало  90
Письмо сдало 886  не сдало  114

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P
96,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P
97,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P
98,female,group D,some college,standard,completed,group10,68,78,77,P,P,P
99,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [35]:
def check_for_pass(data):
    return 'F' if data['math score'] < passmark or data['reading score'] < passmark or data['writing score'] < passmark else 'P'

df['OverAll_PassStatus'] = df.apply(check_for_pass, axis=1)
print('Все сдали', df.value_counts(['OverAll_PassStatus'])[0])
df

Все сдали 812

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P
96,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P
97,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P
98,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P
99,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [36]:
def GetGrade(average_mark):
    if average_mark < 50:
        return 'F'
    if average_mark < 60:
        return 'E'
    if average_mark < 70:
        return 'D'
    if average_mark < 80:
        return 'C'
    if average_mark < 90:
        return 'B'
    return 'A'
    
avg = (df['math score'] + df['reading score'] + df['writing score']) / 3
df['Grade'] = avg.apply(GetGrade)
for k, v in sorted(df.value_counts(['Grade']).items()):
    print(k[0], ':', v)

df

A : 52
B : 146
C : 261
D : 256
E : 182
F : 103

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
96,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
97,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
98,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
99,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B